body{
    margin: 0px;
}

.space-box{
    margin: 0px;
    position: relative;
    height: 800px;
    background-image: url("scr00002.jpg");
    background-size: cover;
    background-attachment: fixed;
}