/*initialisation*/
html{
    height: 100%;
    font-family: sans-serif;
}

h2{
    color: #555;
}

body{
    margin: 0px;
    height: 100%;
}

.space-box{
    margin: 0px;
    position: relative;
    height: 80%;
    background-image: url("scr00002.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.content{
    text-align: center;
}

.content > .hsl > .description{
    max-width: 650px;
    margin: auto;
}

.home > .hsl > .projects{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 200px;
    padding: 30px;
}


.home > .hsl > .projects > img{
    /* Need to chack if % based sizing is optimal */
    width: 100px;
    height: 100px;
    animation-name: sizeback;
    animation-timing-function: ease;
    animation-duration: 0.2s;
}

.home > .hsl > .projects > p{
    display: block;
    text-align: center;
}

.duchifat-1{
    height: 500px;
    background-image: url("1.jpg");
    background-size: cover;
    color: white;
}

.duchifat-1 > .content{
    padding-top: 50px;
    margin-left: 50%;
    font-size: 1.5em;
}

.home > .hsl > .projects > img:hover{
    animation-name: size;
    animation-duration: 0.2s;
    animation-timing-function: ease;
    height: 150px;
    width: 150px;
}

@keyframes size{
    0% {height: 100px; width: 100px;}
    100% {height: 150px; width: 150px;}
}

@keyframes sizeback{
    0% {height: 150px; width: 150px;}
    100% {height: 100px; width: 100px;}
}

.button{
    background-color: rgba(255, 255, 255, 0);
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 3px;
    padding: 8px;
}

.duchifat-1 > .content > p{
    margin-bottom: 100px;
}

.hvr-fade:hover{
    background-color: #e3e5e5;
}